* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.login {
  background-image: url(/assets/img/dark.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.login-card {
  width: 400px;
  height: 450px;
  border: 2px solid #ccc;
  background-color: inherit;
  backdrop-filter: blur(15px);
}
