* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.login {
  background-image: url(/assets/img/dark.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12%;
}

.login-card {
  width: 400px;
  height: 450px;
  background-color: inherit;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.login-title {
  text-align: center;
  padding-top: 10px;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
